<div
  class="px-4 py-2 rounded font-bold"
  {{themed "colored" @color}}
  ...attributes
>
  {{#if (has-block)}}
    {{yield}}
  {{else}}
    {{!--{{fa-icon theme.icon class="mr-2"}}--}}
    {{@text}}
  {{/if}}
</div>