<button
  type={{@type}}
  disabled={{@disabled}}
  class="
    px-2 py-1
    rounded
    {{if (eq @style "outline") "border"}}
    {{if (eq @size "md") "px-4 py-2 font-bold"}}
    {{if (eq @size "lg") "px-5 py-3 font-xl font-bold"}}
    {{if @disabled "opacity-50 cursor-not-allowed"}}
  "
  {{on "click" (optional @onClick)}}
  ...attributes
>
  {{#if (has-block)}}
    {{yield}}
  {{else}}
    {{~@label~}}
  {{/if}}
</button>