<div
  class="px-4 py-2 border-l-4 rounded"
  {{themed "callout" (if @color @color "default")}}
  ...attributes
>
  {{#if (has-block)}}
    {{yield}}
  {{else}}
    <div class="font-bold">{{@title}}</div>
    <div>{{@text}}</div>
  {{/if}}
</div>