<div class="shadow" ...attributes>
  {{#if @title}}
    <UI::Card::Header @title={{@title}} @color={{@color}} />
    {{yield (hash
      Body=(component "u-i/card/body" color=@color)
      Toolbar=(component "u-i/card/toolbar")
    )}}
  {{else}}
    {{yield (hash
      Header=(component "u-i/card/header" color=@color)
      Body=(component "u-i/card/body" color=@color)
    )}}
  {{/if}}
</div>